<form [formGroup]="forma" (ngSubmit)="addNew()">
  <div class="form-group">
    <label>naslov : </label>
    <input type="text" class="form-control" formControlName="naslov" />
  </div>

  <div class="form-group">
    <label>autor : </label>
    <input type="text" class="form-control" formControlName="autor" />
  </div>

  <div class="form-group">
    <label>isbn : </label>
    <input type="text" class="form-control" formControlName="isbn" />
  </div>

  <button class="btn btn-primary">Dodaj</button>
</form>
